<!DOCTYPE html>
<html>
<head>
<br>
<br>
<br>
<br>
<br>
<title>Hello Docker</title>
</head>
<body bgcolor="#ebf5eb">
<center><img
src="https://www.redarris.com/assets/img/blog/docker-kubernetes.png"
width="420" height="220" border="1"></center>
<h1><center>Arpita Gupta</center></h1>
<h2><center>Hey, I am learning Docker</center></h2>
<p><center>Docker is a set of platform as a service products that use OS-level virtualization to deliver software in packages called containers. Containers are isolated from one another and bundle their own software, libraries and configuration files; they can communicate with each other through well-defined channels.</center></p>
<br>
</body>
</html>
